<%= form_with(model: gas_station, local: true) do |form| %>
  <% if gas_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gas_station.errors.count, "error") %> prohibited this gas_station from being saved:</h2>

      <ul>
      <% gas_station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :gas_station_address %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :gas_station_image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :gas_station_name %>
  </div>

  <div class="field">
    <%= form.label :id_station %>
    <%= form.number_field :id_station, id: :gas_station_id_station %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
