<p id="notice"><%= notice %></p>

<h1>Estaciones de servicio</h1>

<div class="row">
  <% @gas_stations.each do |gas_station| %>
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <%= image_tag gas_station.image, class: 'img-responsive center-block', style:'max-height:300px;' %>
       <div class="caption">
         <h3>Nombre: <%= gas_station.name %></h3>
         <p>Dirección<%= gas_station.address %></p>
         <p>ID:<%= gas_station.id_station %></p>
         <p><%= link_to 'Detalles', gas_station, class: 'btn btn-primary' %>
         <%= link_to 'Editar', edit_gas_station_path(gas_station), class:'btn btn-warning' %>
         <%= link_to 'eliminar', gas_station, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
       </div>
     </div>
   </div>
 <% end %>
</div>

<br>

<%= link_to 'New Gas Station', new_gas_station_path, class: "btn btn-success" %>
